body {
    font: 10px sans-serif;
}

.linage {
    fill: none;
    stroke: #000;
}

.marriage {
    fill: none;
    stroke: black;
}


/*svg .icon :before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}*/

.woman, .man, .add-node, .no-gender, .you {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.man {
    fill: #80ffaa;/*#99e6e6;/*lightgrey;/*lightblue;*/
}
.woman {
    fill: #ffb380;/*lightgrey;/*lightblue;*/
}
.add-node, .no-gender {
    fill: lightgrey;/*lightgrey;/*lightblue;*/
}
.you {
    fill: #ccccff/*#9fff80;/*lightgrey;/*lightblue;*/
}
.no-gender {
    fill: #99e6e6;/*lightgrey;/*lightblue;*/
}

.nodeText {
    padding: 0;
    margin-bottom: 20;
}

.icon {
  color:red;
  font-size: 48px;
}
/*foreignObject div {
  width: 100px;
  height: 100px;
  background-color:red;
}*/

.emphasis {
    font-style: italic;
}

svg{
  border: solid;
}